<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <secret-component></secret-component>
                </div>
            </div>
        </div>
    </div>
</template>
