<template>
    <div class="container">
        <div class="row mt-4">
            <div class="col-6 offset-3">
                <form action="#" @submit.prevent="handleLogin" v-if="!secrets.length">
                    <h3>Sign in for secrets</h3>
                    <div class="form-row">
                        <input type="email" name="email" class="form-control" v-model="formData.email"
                               placeholder="Email address">
                    </div>
                    <div class="form-row">
                        <input type="password" name="password" class="form-control" v-model="formData.password"
                               placeholder="Email address">
                    </div>
                    <div class="form-row">
                        <button type="submit" class="btn btn-primary">Go !</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            secrets: [],
            formData: {
                email: '',
                password: ''
            }
        }
    }, methods: {
        handleLogin() {
            axios.get('/sanctum/csrf-cookie').then(() => {
                axios.post('/login', this.formData).then(() => {
                    window.location = '/me'
                })
            });
        }
    }
}
</script>
<style>
    .form-row {
        margin-bottom: 8px;
    }
</style>
