<template>
    <div class="container">
        <div class="row mt-4" v-if="secrets.length">
            <div class="col-6 offset-3">
                <h3>My secrets</h3>
                <div class="secret" v-for="(secret, index) in secrets" :key="index">
                    <em v-text="secret.created_at"></em><br>
                    <strong v-text="secret.secret"></strong>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            secrets: '',
        }
    },
    mounted() {
        axios.get('api/secrets').then(response => {
            this.secrets = response.data;
        });
    }
}
</script>

<style>
.form-row {
    margin-bottom: 8px;
}
</style>
