<template>
    <div class="container">
        <div class="row mt-4">
            <div class="col-6 offset-3">
                <h3>Me</h3>
                <form method="post" action="{{ route('logout') }}">
                    <input type="hidden" name="_token" :value="csrf">
                    <button class="btn btn-danger">logout</button><br>
                </form>
                <em v-text="user.name"></em><br>
                <strong v-text="user.email"></strong>
            </div>
            My secrets
            <secrets></secrets>
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            user: '',
            csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content')
        }
    },
    mounted() {
        axios.get('api/me').then(response => {
            this.user = response.data;
        });
    },
}
</script>
