<template>
    <div class="container">
        <div class="row mt-4" v-if="users.length">
            <div class="col-6 offset-3">
                <h3>My secrets</h3>
                <div class="secret" v-for="(user, index) in users" :key="index">
                    <em v-text="user.name"></em><br>
                    <strong v-text="user.email"></strong>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    methods: {
        getUsers() {
            axios.get('api/users').then(response => {
                this.users = response.data;
            });
        }
    }
}
</script>
